body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* HEADER */
header {
    background: #224466;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.intro {
    text-align: center;
    padding: 40px 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 2px 2px 10px #0002;
}
